/ShopOnline/ShopOnline/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/ShopOnline/ShopOnline/obj/Debug/build.force
/ShopOnline/ShopOnline/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/ShopOnline/ShopOnline/obj/Debug/ShopOnline.csproj.AssemblyReference.cache
