@model ShopOnline.Models.KhachHang

@{
    ViewBag.Title = "Xóa";
}


<div class="card mt-2">
    <h5 class="card-header" style="background-color: #f4e0fc">@ViewBag.Title</h5>
    <div class="card-body">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()


            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                Bạn có muốn xóa khách hàng <strong>@Model.HoVaTen</strong> không?

            </div>

            <div class="form-actions no-color">
                <input type="submit" value="Xác nhận xóa" class="btn btn-danger" /> hoặc @Html.ActionLink("Quay về danh sách", "Index")
            </div>
        }
    </div>
</div>

