@model ShopOnline.Models.LoaiSach

@{
    ViewBag.Title = "Xóa loại sách";
}


<h3>Bạn có chắc là muốn xóa chứ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-outline-info" /> |
            @Html.ActionLink("Quay về danh sách", "Index")
        </div>
    }
</div>
