@model ShopOnline.Models.LoaiSach

@{
    ViewBag.Title = "Chi tiết";
}

<h2>Chi tiết</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenLoai)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn-outline-info" @Html.ActionLink("Cập nhập", "Edit", new { id = Model.ID })></a>
       @Html.ActionLink("Quay về danh sách", "Index")
</p>
